body {
  margin: 0;
  padding: 0;
}

/* navbar */
.nav-header {
  display: flex;
  justify-content: space-between;
}
.login-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
  vertical-align: middle;
}
.login {
  margin-left: 10px;
}
.nav-section {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.nav-section img {
  cursor: pointer;
}
.menu-area {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
  cursor: pointer;
}
.menu-list li:hover {
  text-decoration: underline;
}
.search-area {
  border-bottom: 1px solid #000;
  position: absolute;
  right: 40px;
  top: 20%;
  padding: 5px;
}
.search-input {
  border: none;
  outline: none;
}
.search-input:placeholder-shown {
  text-indent: 5%;
}
.search-input:focus::placeholder {
  color: transparent;
}

/* navbar - sidebar */
.hide {
  visibility: hidden;
}
.side-menu {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  display: none;
}
.side-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.side-menu-list button {
  color: #fff;
  margin: 5px;
  background: none;
  border: none;
  padding: 10px;
  width: 120px;
}
.side-menu-list button:hover {
  background-color: #fff;
  color: #000;
  width: 100%;
}
.side-menu .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  border: none;
  background: none;
  color: #fff;
  font-size: 25px;
}
.burger-menu {
  margin-left: 20px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 20px;
}

/* product card */
.product-card-area {
  display: flex;
  justify-content: center;
}
.product-card {
  transition: 0.5s;
  padding: 20px;
}
.card-area {
  margin-top: 10px;
}
.product-card:hover {
  transform: scale(1.1);
}

/* product detail */
.detail-container {
  margin-top: 40px;
}
.detail-img {
  display: flex;
  justify-content: flex-end;
}
.dropdown-toggle {
  background-color: #fff;
  border-color: #000;
  color: #000;
  margin-top: 10px;
}
.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active,
.dropdown-toggle:hover {
  background-color: #000;
  border-bottom: #000;
  color: #fff;
}
.btn-dark {
  width: 350px;
  margin-top: 30px;
}

/* login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-form {
  margin-top: 20px;
  width: 60%;
}
.login-form-button {
  width: 250px;
}

@media screen and (max-width: 63rem) {
  .hide {
    visibility: visible;
  }
  .menu-list {
    display: none;
  }
  .search-area {
    display: none;
  }
  .side-menu {
    display: block;
  }
  .detail-area {
    margin-top: 20px;
  }
  .login-form {
    margin: 30px;
  }
  .login-password {
    margin-bottom: 20px;
  }
  .login-form .btn-danger {
    width: 200px;
  }
  .detail-img {
    display: flex;
    justify-content: center;
  }
  .detail-area {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
