.login-button {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 30px;
  right: 40px;
}
.login {
  margin-left: 10px;
}
.nav-section {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.menu-area {
  display: flex;
  justify-content: center;
}
.menu-list {
  display: flex;
  list-style-type: none;
}
.menu-list li {
  padding: 10px;
  cursor: pointer;
}
.search-area {
  border-bottom: 1px solid #000;
  position: absolute;
  right: 40px;
  top: 18%;
  padding: 5px;
}
.search-input {
  border: none;
}
.search-input:placeholder-shown {
  text-indent: 5%;
}
.product-card {
  transition: 0.5s;
  padding: 20px;
}
.card-area {
  margin-top: 10px;
}
.product-card:hover {
  transform: scale(1.1);
}